body {
  overflow-x: hidden;
}

.text-encerramento-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 40px auto 0 auto;
  gap: 15px 0;
}

.text-encerramento {
  color: #FFF;
  font-size: 20px;
}

.box-encerramento-container, .box-encerramento2-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.box-encerramento2-container {
  margin-top: 100px;
}

.box-encerramento, .box-encerramento2 {
  width: 825px;
  height: auto;
  background-color: #DD3A76;
  padding: 25px;
}

.box-encerramento2 {
  border-radius: 40px;
  position: relative;
}

.box-encerramento2 > p {
  color: #FFF;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 3%;
  width: 70%;
}

.box-encerramento > ul {
  color: #FFF;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.imagem-container {
  position: absolute;
  bottom: 70px;
  left: 625px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.botoes-inicio {
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}

.botoes-inicio > button {
  width: 500px;
  padding: 0 50px;
  border-radius: 28px;
}

.button-encerramento-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-style, .botao-reiniciar-semana7-encerramento-nao-finalizado {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  width: 400px;
  height: 74px;
  border-radius: 50px;
  background-color: #DD3A76;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 0 #942C52;
  border: none;
  outline: none;
}

.button-style:hover, .botao-reiniciar-semana7-encerramento-nao-finalizado:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #942C52;
  outline: none;
}

.button-style:active, .botao-reiniciar-semana7-encerramento-nao-finalizado:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #942C52;
  outline: none;
}

@media (max-width: 991px) { 
  .introducao-inicio__content > img {
    width: 90%;
  }

  .imagem-container {
    bottom: 15px;
  }
  .imagem-container > img {
    width: 200px;
  } 

  .box-encerramento, .box-encerramento2 {
    width: 95%;
  }
}

@media (max-width: 849px) {
  .imagem-container {
    left: 520px;
  }
}

@media (max-width: 767px) {
  .imagem-container {
    display: none;
  }

  .box-encerramento2 {
    display: flex;
    justify-content: center;
  }
  .box-encerramento2 > p {
    margin-left: 0;
  }

  .botoes-inicio > button {
    width: 430px;
    font-size: 20px;
  }
}


@media (max-width: 575px) {
  .button-style {
    width: 100%;
    font-size: 20px;
  }

  .box-encerramento2 > p {
    width: 90%;
  }

  .botoes-inicio > button {
    width: 385px;
    font-size: 20px;
  }
}

@media (max-width: 439px) {
  .button-style, .botoes-inicio > button {
    font-size: 16px;
  }

  .botoes-inicio > button {
    width: 90%;
  }
}