@font-face {
  font-family: 'KG-Happy';
  src: url('../fonts/KGHAPPYSolid.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

p, li, ul, button {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}


/* PASSAPORTE */
.passaporte-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.passaporte-container > img:first-child {
  width: 60%;
  display: block;
}

/* Carimbos posicionados individualmente */
.carimbo {
  position: absolute;
  display: none;
}

/* LADO ESQUERDO - 4 CARIMBOS */
.carimbo:nth-of-type(1) { /* Semana 1 */
  left: 28%;
  top: 8%;
  rotate: -1deg;
  width: 16%;
}

.carimbo:nth-of-type(2) { /* Semana 2 */
  left: 28%;
  top: 28%;
  rotate: -2deg;
  width: 20%;
}

.carimbo:nth-of-type(3) { /* Semana 3 */
  left: 24%;
  top: 54.5%;
  rotate: -1deg;
  width: 15%;
}

.carimbo:nth-of-type(4) { /* Semana 4 */
  left: 39%;
  top: 65%;
  rotate: 5deg;
  width: 10%;
}

/* LADO DIREITO - 3 CARIMBOS */
.carimbos-direita > .carimbo:nth-of-type(1) { /* Semana 5 */
  left: 50%;
  top: 12%;
  width: 25%;
}

.carimbos-direita > .carimbo:nth-of-type(2) { /* Semana 6 */
  left: 59%;
  top: 43%;
  width: 14%;
}

.carimbos-direita > .carimbo:nth-of-type(3) { /* Semana 7 */
  left: 52%;
  top: 66%;
  width: 20%;
}


/* MODAL DO PASSAPORTE */
.modal-passaporte-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-passaporte-overlay.ativo {
  display: flex;
  opacity: 1;
}

.modal-passaporte-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  animation: modalEntrada 0.3s ease;
}

.modal-passaporte-content .passaporte-container {
  display: flex !important;
  margin: 0;
  transform: scale(1.5); /* Ajuste conforme necessário */
  transform-origin: center;
  width: 70%;
  margin: 0 auto;
}

.botao-fechar-modal {
  position: absolute;
  top: -40px;
  right: 115px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #A33E40;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  transition: all 0.2s ease;
}

.botao-fechar-modal:hover {
  background-color: #c24e50;
  transform: scale(1.1);
}

@keyframes modalEntrada {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}