@font-face {
  font-family: 'KG-Happy';
  src: url('../fonts/KGHAPPYSolid.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

p, li, ul, button {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}