body {
  background-color: #DFE6E8;
}

#introducao-inicio {
  background-image: url(/assets/arquivos_gerais_semanas/bg_inicio_encerramento.jpg);
  width: 100%;
  height: 664px;
}

.introducao-inicio__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introducao-inicio__content > img {
  width: 65%;
  margin-left: 100px;
  margin-top: 50px;
}

.botoes-inicio {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  margin-top: 10px;
}

.botoes-inicio > button {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  width: 346px;
  height: 74px;
  border-radius: 28px;
  background-color: #DD3A76;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 0 #942C52;
  border: none;
  outline: none;
}

.botoes-inicio > button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #942C52;
}

.botoes-inicio > button:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #942C52;
}
